/* You can add global styles to this file, and also import other style files */
body {
    font-size:10px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    border-radius: 2.5px;
}


.highlight2 {
    transition: all 30ms 0s ease;
    box-shadow: 0.25px 0.25px 2px 0px rgb(155, 149, 140);
    background-color: orange;
    border-radius: 2.5px;
}